/* reset.css */
@charset "utf-8";

/*************** 모든 요소 여백 초기화 ************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal; /* 줄 간격 auto */
}

::before, ::after {
  display: block;
}

/*************** HTML 및 Body 초기화 ************************/
html, body {
  position: relative;
  overflow-x: hidden; /* x축 스크롤 방지 */
  overflow-y: auto; /* y축 스크롤 허용 */
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
  border: 0;
  outline: 0;
  background: transparent;
  display: block;
}

strong {
  display: inline-block;
}

/*************** 텍스트 컨테이너 벗어남 방지 ************************/
h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  overflow-wrap: break-word;
}

/*************** 인라인 요소 svg 태그 block화 ************************/
svg {
  display: block;
}


/*************** 하이퍼퍼링크 초기화 ************************/
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/*************** 리스트 초기화 ************************/
ul, ol, li {
  list-style: none;
}

/*************** 이미지 및 비디오 초기화 ************************/
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/************ 비디오 컨트롤 및 UI 요소 완전 제거 ***************/
video {
  outline: none;
  border: none;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
}

video::-webkit-media-controls-timeline {
  display: none !important;
}

video::-webkit-media-controls-current-time-display {
  display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

/*************** 테이블 초기화 ************************/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  display: table-row;
}
th, td {
  display: table-cell;
}
 */
/*************** 인풋, 버튼 초기화 ************************/
button, input, textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: default;
}

/********************** 블록 요소 초기화 ************************/
section, article, header, footer, nav, aside {
  display: block;
}

/*************** 블록 인용문 초기화 ************************/
blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
}

/*************** 수평선 초기화 ************************/
hr {
  border: 0;
  height: 0;
  background: none;
}

/*************** 기타 초기화 ************************/
fieldset {
  border: none;
}

legend {
  display: none;
}

/* <i> 폰트스타일 초기화 */
i { font-style: normal; }